[2018-05-04 03:33] jounih opened #1 "Survey app UI"
*Updated 5/5/18 - added remove option when creating new survey, corrected typo, updated token selection*

*Updated 11/5/18 - added voting panel, tweaked card layout*

*Updated 15/5/18 - added Survey details view*

Invision link:

[Invision prototype](https://invis.io/B5IH2RYVUJQ)

Screenshots:

![webapp-1366px - survey card view 2x](https://user-images.githubusercontent.com/10109867/39908042-3ee12

[2018-05-04 11:56] izqui commented on #1
The token tags shouldn't be at the particular poll, but at the app level, similar to how Voting has a token label. ATM, one instance of Survey can only poll one token.

[2018-05-04 12:13] bpierre commented on #1
We also need a way to remove options, looks good otherwise!

[2018-05-04 12:34] izqui commented on #1
Also what's the status on the detail view?

[2018-05-04 13:36] sohkai commented on #1
One thing I was thinking about is how to make it easy for users to avoid mistaking the Survey app for the binding Votes app; right now this is obvious because one is a cardview and another is a listview, but maybe we could have another point of differentiation.

[2018-05-05 04:13] jounih commented on #1
Updated the screenshots and Invision.

Changed token selection similar to current Voting design - @izqui can you confirm this is correct please?

Details view is nearly there, should be done today!

@bpierre added remove button for options - think best place for it is top right of each option field so it doesn't get mixed up with the "New option" button at the bottom. Also I guess we only start ad

[2018-05-05 14:17] bpierre commented on #1
Cool! 👌 And if you’re ok with [this proposal](https://github.com/aragon/aragon-ui/issues/151), the space is not used by the asterisk anymore so we can use it for actions in general.

Also another thing that we need for this app: the multi-options voting panel.

[2018-05-05 16:19] sohkai commented on #1
We might also be able to leverage more radspec strings in the binding Voting app to tell the user that they're going to execute something if it passes.

Another thing I noticed is the card size; right now it looks like the size is based on a maximum of 3 options; what happens if we have more (4+)?

[2018-05-05 19:12] jounih commented on #1
@bpierre yep - moving the mandatory field asterisk next to the label is great. Got the multi-option voting sidepanel pretty much done, will add to this issue!

@sohkai the radspec stuff would be rad! cards -  there can be as many rows of cards as needed, it's not limited to 3 cards. Minimum number of cards would be 1 (on mobile portrait) - there doesn't need to be a maximum, you could have a large

[2018-05-07 02:07] izqui commented on #1
👌🏻

@jounih I think @sohkai was referring to how many options can be viewed in the card, which is just 3 in the current design. I think we should just show `Other options` in the card view when that happens, and then in the detail view you should have be able to see the support for every option.

[2018-05-09 01:00] sohkai commented on #1
Agreed with @izqui suggestion; I think that's the easiest way around hiding the rest of the options.

[2018-05-10 11:15] jounih commented on #1
@izqui @sohkai Yes! We discussed this with @bpierre at the beginning too - added to the design and updated sketch file

![webapp-1366px - survey card view 2x](https://user-images.githubusercontent.com/10109867/39867285-4609af48-547a-11e8-985d-441905d9401f.jpg)

[2018-05-11 05:27] jounih commented on #1
@bpierre added voting sidepanel, updated the design at the top and pushed sketch file

[2018-05-15 08:30] jounih commented on #1
@bpierre added survey details view, pushed sketch file

[2018-05-15 08:35] bpierre commented on #1
Thanks!

[2018-05-16 20:53] jounih opened #2 "Payroll app UI"
**Invision prototype:**

[https://invis.io/D5FNHWG4EKF](https://invis.io/D5FNHWG4EKF)

**Screenshots**

![webapp-1366px - finance payroll - team payroll option 2 2x](https://user-images.githubusercontent.com/10109867/40143464-64db5ae2-5953-11e8-9860-fdb57d4938c8.jpg)
![webapp-1366px - finance payroll - team payroll option 2 add employee 2x](https://user-images.githubusercontent.com/10109867/401434

[2018-05-25 10:46] jounih opened #3 "AddressBadge component"
<img width="838" alt="screen shot 2018-10-18 at 12 28 45" src="https://user-images.githubusercontent.com/10109867/47151354-663be800-d2d1-11e8-99bb-7dfaca18e3b2.png">

A new proposed design for an address badge component, to be used whenever an entity name/ethereum address is need to display on the Aragon UI.

The design follows the initial proposal by @bpierre - [https://github.com/aragon/aragon-u

[2018-06-12 14:28] jounih opened #4 "Aragon Mobile"
[https://invis.io/4MKQSSAEFWQ](https://invis.io/4MKQSSAEFWQ
)

Added mobile navigation and transaction panel. The Survey app is already designed mobile-first with cards so no changes needed for that.

Also updated Survey to use the new AddressBadge component

[2018-06-12 17:06] sohkai commented on #1
@jounih going to close this as it's been implemented :tada:!

[2018-07-11 16:29] luisivan commented on #3
Something I was thinking: maybe emoji combinations, like the one Telegram uses (https://telegram.org/blog/calls) would be more user friendly than identicons. Thoughts?

[2018-07-12 21:07] jounih opened #5 "Aragon Identity app"
While de facto identity standards/providers for Ethereum are still forming, we need a lightweight Aragon Identity app for human readable identities with some metadata (Avatar image, ENS domain, name and about).

The intent is to have a UI where the underlying implementation can be replaced with a standard once one has matured.

The design also includes an optimistic "pending" UI state while an on-

[2018-07-22 02:03] adamstallard commented on #5
Is this just a design at this point, or has any code been written yet?  This would be a great integration point for BrightID.  (See the nest proposal @mariapao linked to.)

[2018-07-22 08:33] jounih commented on #5
@adamstallard still design at this point, I think some solidity code has been written before for this but if the timelines with BrightID work it could be very nice. @sohkai what do you think?

[2018-07-22 20:29] jounih opened #6 "Permissions app"
The purpose of permissions app is to let users of a DAO view and manage permissions between users, apps and groups.

The permissions app allows many types of DAOs to be constructed via a visual interface.

Example 1: Allow Voting app (ie. token holder vote) to execute actions in another app - for instance minting new tokens in the Tokens app, or transferring tokens in the Finance app.

Example 2:

[2018-07-23 08:17] luisivan commented on #6
Feedback:
- Looks amazing
- On _Browse by entity_ in the main screen, _Type_ should just be _Entity_, as we cannot determine if it's a User or any Contract. Also, I'd encourage to unify apps inside the Entity component, so an app would be displayed with its icon and its name, and maybe a tag specifying that it is an app. This way we have a component reusable everywhere, and we could also remove th

[2018-07-23 08:20] luisivan commented on #5
Stellar work

[2018-07-23 14:25] sohkai commented on #5
@adamstallard we have some contracts written for the ENS integration, to make sure users have ownership of their ENS name. Apart from that, most of the metadata will likely just be held in an ENS txt resolver, and likely in a [schema.org Person](https://schema.org/Person) as a JSON-LD blob.

[2018-07-23 14:56] adamstallard commented on #5
Thanks @sohkai .  I think the contracts you're talking about live here https://github.com/aragon/aragon-id is that right?

[2018-07-23 18:29] sohkai commented on #1
Reopening, as we're not closing these design issues for now :).

[2018-07-24 20:44] sohkai commented on #5
@adamstallard Yes, `aragon-id` is the one!

[2018-07-25 15:45] adamstallard commented on #5
How is the "organization" managed if there is more than one person belonging to the organization?  Can anyone just claim to belong to any organization?  Is the registering of the ENS domain associated with an organization done through Aragon-ID?

[2018-07-25 16:03] adamstallard commented on #5
Will there be a way to view someone else's identity--or is this just a vanity thing :) ?

[2018-07-25 21:31] adamstallard commented on #5
Is the idea that there will be integration points throughout other Aragon apps so that if you click on an address or pseudonym, it will bring you to their identity page and let you view their profile?  This view profile page would be the ideal place to show someone's BrightID badge with trust score that shows they're human and unique.

[2018-07-26 02:42] adamstallard commented on #5
I just wanted to say that we took this design so far to think about how we might integrate BrightID into Aragon-ID and put our thoughts in the pull request  https://github.com/aragon/nest/pull/63

[2018-07-26 03:10] mariapao commented on #5
That is great! :) cc @sohkai @lkngtn

[2018-07-26 20:25] sohkai commented on #5
@adamstallard So it's meant to be shown along side the `AddressBadge` component: https://github.com/aragon/design/issues/3.

Right now these IDs have been designed to be "locked" to the respective organizations and personal identities, but they could easily be modified in design to show anyone's (one could imagine an address / ENS name input field that refreshes the view based on what information

[2018-07-26 20:33] sohkai commented on #5
@adamstallard The updated Nest grant looks fantastic! I'm not sure exactly how we'd architecturally integrate BrightID into the identity yet, but it could be as simple as having a BrightID registrar contract that we look up in the frontend.

[2018-07-27 02:02] adamstallard commented on #5
@sohkai Yes this sounds really good.  Basically a screen or tab for viewing the profile information linked to an address.  If there's nothing in ENS, the screen would be mostly empty, which is o.k.  That would be where we'd integrate the BrightID badge.

Thanks for the suggestion about the registrar contract.  I had a long brainstorm with @abramsymons and came up with this [basic architecture doc]

[2018-07-29 04:50] stellarmagnet commented on #6
Question:

One example is that in this design you see "ASSIGN_ROLE" mapped to a human-readable "Assign tokens".

Where is the human readable definition of a Permission managed?

How does one update the human readable name of the Permission (I imagine people may think of better terminology over time to describe the role, that may not have been obvious at time of app deployment).

[2018-07-29 05:07] stellarmagnet commented on #3
Looking forward to this component!

1) Some thoughts to help with "DAO founder doppelgängers" is to also have some kind of special "verified" (Twitter-like) badge, so then for example, let's say I am an ANT holder, we end up knowing who the real "Luis Iván Cuende" really is, and someone else can't assume his entity when creating votes and tricking people into thinking it was Luis who created the v

[2018-07-29 05:45] stellarmagnet commented on #5
I'm thinking a lot about identity related things today as it relates to some Planning app features too.

One thing that came to mind when reviewing this design is the UX for the "Pending transactions". I think that the information in the popup could easily be displayed within the page, so I would suggest to not go with the popup as the design pattern and instead show it within some informational-l

[2018-07-30 08:36] luisivan commented on #5
Curious to know what @jounih thinks, thanks @stellarmagnet! We thought about the transaction manager as a notifications panel with an icon in the top left, next to the Aragon logo

[2018-07-30 08:56] luisivan commented on #6
Do you mean of a Permission Manager?

As for how to describe those, it'd be here https://hack.aragon.org/docs/tutorial.html#writing-the-manifest-files

[2018-07-30 08:57] luisivan commented on #3
I'm 99% sure that the background is only blue when selected to copy @stellarmagnet

[2018-07-31 12:36] sohkai commented on #6
@jounih Pierre and I had a conversation today about getting data into the app and clarifying how everything works under the hood. The implementation's shaping up nicely!

I've added a few comments to the Invision based on notes from our conversation.

One of the major topics we touched upon was the creation of the first permission, since this is a special action that both requires more information

[2018-07-31 13:42] luisivan opened #7 "TCR design"
With the current architecture of our modular TCR implementation, I see the following apps could be shown to the user:
- **Registry app**: Just a read-only list
- **Curation**: This app would be a list of all open applications, with a button to challenge them. It would also allow to create a new application. It would also show the parameters that the app instance was created with
- **PLCR/Voting**:

[2018-07-31 14:58] bingen commented on #7
Some comments:
- PLCR frontend wouldn't be the same exact as the voting app we have right now, as we need 2 main actions (Commit and Reveal) instead of only 1 (Vote). But it would be quite similar.
- Staking apps should allow to create stakes *and lock them*.
- Registry app should have a link to Curation -> Challenge for each entry (I mean here just opening Curation app ready to Challenge that par

[2018-07-31 17:53] lkngtn commented on #7
Discussed the UX challenge and implication of having two staking apps (curation and voting) with @bingen and @izqui and it seems like it make sense to pursue an approach that allows for a single staking application to manage both types of stakes. It would be useful to explore what the design would look like under the assumption that one application manages both types of stakes.

[2018-08-01 00:14] stellarmagnet commented on #3
Does the current architecture support autocomplete throughout all Aragon Apps for the "Recipient" address fields, tying it to the Identity app, or do enhancements need to be made to support this paradigm?

[2018-08-01 08:02] luisivan commented on #7
Sounds good. I don't think the design would change, it'd just be Curation and Voting linking to the same Staking app when asking the users to stake.

[2018-08-01 08:07] luisivan commented on #3
Aragon UI will provide this component which will take care of everything for developers :+1:

[2018-08-01 08:12] josegaray commented on #7
In the read-only registry, it would be nice to see some information about each entry, maybe unfolding in a drop down box when you click on one of them (FAQ style). Some interesting properties about an entry that come to mind:

- How long the entry has been part of the registry
- How many times it has been unsuccesfully challenged
- If it's currently being challenged

Data like this could add some

[2018-08-01 09:08] stellarmagnet commented on #3
I'm trying to find out more details because i'm wondering the complexity of integrating another app to read data from, to populate the autocomplete (e.g. one of the apps part of our planning suite - Address Book, which is useful for managing frequently used addresses of non-DAO members - which can be individuals, projects, multisigs, etc)

[2018-08-01 11:19] luisivan commented on #3
I think that would be totally doable. In your local DAO settings, you could select identity registries that you wanna be able to autoselect from

[2018-08-01 14:37] bingen commented on #7
Just one comment: the action will be slightly different, as the user has to signal what the stake and lock are for (either `Curation` or `Voting`). Not sure how this will be handled from the UI perspective, although I agree that the design shouldn't change too much.

[2018-08-01 20:45] stellarmagnet commented on #7
Just UX some thoughts/ponders here...

- I feel like this is an example of why upgrading aragon.js will be important for UX, bc I don't think any of these apps make that much sense to be independent from one another vs. a single app in left pane and then multiple tabs to represent the different 'apps' so to speak.
- Curation and Registry look a little weird independent from each other, since the m

[2018-08-01 21:02] bingen commented on #7
I couldn't agree more with your first point, @stellarmagnet We are aware of it and that aragon.js enhancement is going to happen, but I think the idea of this design is to unlock the development of TCR meanwhile.
About your questions:
- You can stake only once, but you need to lock each time.
- Yes, the voting app in this set up is for only for Voting on challenged applications.

[2018-08-05 10:25] stellarmagnet opened #8 "Table toolbar design for filtering & searching data in Aragon"
As part of my working for the Planning app, I have started thinking more about a design pattern for a table toolbar. I'm curious to hear thoughts, as I think it would be important to have a common toolbar component across Aragon for any page that has data where users may want to search, filter, and/or take action on.

# Requirements
There should be a two level toolbar. The first row contains: Keyw

[2018-08-07 11:20] luisivan commented on #8
Thanks @stellarmagnet! I assigned this to @jounih so he can check it out and comment. Very nice designs!

[2018-09-03 06:48] jounih opened #9 "Aragon DAO switcher"
Edit: Added DAO info and blockies.

The proposal is to replace the Aragon logo on the top left with the currently viewed DAO name, as well as a dropdown accessing info/settings for currently selected DAO, list of DAOs associated to your connected provider address, and a link to manage that list.

This helps users understand which DAO they are currently viewing, and helps them to be able to easily

[2018-09-03 09:29] sohkai commented on #9
Looping in @Quazia for making bounties as well.

[2018-09-11 14:43] jounih opened #10 "Voting app card view"
Since the Survey app card view is responsive and works well on mobile, we should re-use it for the Voting app with some tweaks.

Improvements compared to the previous voting app UI:

- Responsive, works on mobile
- Using "You" tag to show which votes you have voted on, and how you voted (once authenticated with a wallet)
- Introduction of a filter component to filter past votes
- Clearer UX for ch

[2018-09-11 20:06] sohkai commented on #10
~~@jounih Could you also include the "execute" functionality? I assume it'd just be the button in the panel changing to be "execute"?~~

Nevermind, I see it's in https://github.com/aragon/aragon-apps/issues/216#issuecomment-420243809 :).

[2018-09-20 09:34] jounih opened #11 "Ethereum provider tooltip"
Talking with @bpierre - Now that more web3/wallet providers exist, we should stop calling out MetaMask specifically in the UI and just say Ethereum provider.

There should be a tooltip on the word "Ethereum provider" with recommended options with links, and we should use this component everywhere we currently say MetaMask. Will post design

[2018-09-24 14:03] cfl0ws commented on #10
@bpierre Should this be moved to the Done column? If so, please add it, if not, please add a short note here explaining why not.

[2018-09-24 15:40] bpierre commented on #10
Yes we can close it!

[2018-09-25 10:46] sohkai commented on #10
@chris-remus @bpierre We discussed with @jounih on closing design issues before, and we came to the conclusion that we wouldn't close them (since they're not really "issues") but leave them open on this repo. I usually move them to the "Design implemented" column and remove them from any connected epics or milestones (to avoid dangling issues in them).

[2018-09-28 23:02] jounih opened #12 "Making users aware of Rinkeby DAO being deprecated from AragonOS 0.5 to 0.6"
Since AragonOS 0.5 -> 0.6 upgrade will break existing Rinkeby DAOs, we need to inform users this is happening, guide them to create new DAOs on 0.6 and provide access to old 0.5 DAOs for some period of time.

The proposed sequence:

**1. Inform users about the upcoming changes before 0.6 release**

Prototype: [https://invis.io/PUO9EOLQVW8#/322087315_WebApp-1366px_-_Banner](https://invis.io/PUO9EOL

[2018-10-01 16:19] luisivan opened #13 "Global / DAO settings"
I saw a mockup that @jounih designed in which the Settings app contained two tabs, one for the settings of Aragon Core, and one for the DAO settings.

I want to make a slightly different proposal that I think matches better with [the DAO switcher](https://github.com/aragon/design/issues/9).

I think we should split the two apps into the local DAO settings and the Aragon Core settings. The local DA

[2018-10-01 17:24] jounih opened #14 "Error screen for 404, app errors etc."
We need an error screen for several purposes - 404, React app crashing etc.

Below is a proposed generic design with those two above examples, but the implementation should be generic enough to have any type of error messaging

Prototype:

https://invis.io/DPOC874AS8V#/322924236_App_Error_

SVG animation:
http://helminen.co/clients/aragon/404.html

Design:

![app error 2x](https://user-images.gith

[2018-10-01 18:00] jounih commented on #13
@luisivan good points. We actually discussed something similar with @bpierre but the other way around - having a settings icon next to the login/username area at the bottom of the left nav for global app settings, and using the settings app for DAO settings only.

The top part of the left sidebar is already crowded with DAO icon, Dao name and notifications icon - otherwise that could be a good pla

[2018-10-01 18:16] luisivan commented on #13
Totally agree! Let's do that

[2018-10-01 18:43] cfl0ws commented on #14
On [DATE] Aragon0S was upgraded from v0.5 to v0.6. DAO's created with v0.5 were deprecated then too. If you created your DAO before [DATE], you'll find it at [LINK1] until early 2019.

Otherwise, you can create a new DAO using v0.6 at [LINK2].

[2018-10-02 07:53] jounih commented on #13
OK after a bit of rejigging we came up with the following:

Use a smaller avatar for the DAO (a blocky ideally) and add the app settings icon at the top next to the notification icon. It didn't really work in the bottom, got too busy.

I think we can also perhaps remove the current settings app completely if we do this - the only content left on it would only be some info about the DAO we display

[2018-10-03 08:57] osarrouy commented on #9
Hi guys,

I was also thinking about the ability to introduce hierarchy in the DAO picker. Maybe is this too much pando centric but I think it would be cool, for instance, to be able to identify / browse trough a root repo DAO and then its forks and so on. If one work on multiple 'branches' on the same repo - which acts as differents DAO - that could be pretty useful to keeps things clear and kind

[2018-10-03 10:02] jounih commented on #9
@osarrouy could be nice!

We have been also discussing nested DAOs - and getting rid of the term DAO altogether in favour of "Org" which is probably more understandable for normal people.

Will think about the branching and update the designs once we have something concrete.

[2018-10-05 09:09] jounih commented on #13
OK, after some though this is what we have.

Preferences relating to the web-app would be accessible from the cog icon in the bottom. That would also only leave DAO specific things in the "Settings" app, so perhaps we can rename that app "DAO info" or "Info" or "Org info"

Prototype:

[https://invis.io/MFOF866ET3N#/323903431_WebApp-1366px_-_Logged_In](https://invis.io/MFOF866ET3N#/323903431_WebApp

[2018-10-05 10:48] sohkai commented on #13
@jounih I noticed in the mock up that the Settings app has been removed from the left menu bar. At some point I think we discussed putting the "DAO Settings" (or info) into the org switcher dropdown, is that still the plan?

[2018-10-05 10:53] sohkai opened #15 "Nested organizations"
We've been discussing how nested organizations could be implemented.

We have a few options, including:

- Adding some hierarchy to the DAO switcher
- Adding them directly to the left menu bar
- Some other UI mechanism

Some use cases include [pando](https://github.com/aragon/design/issues/9#issuecomment-426561330) and [TPS](https://github.com/Giveth/planning-app).

[2018-10-05 10:53] sohkai commented on #9
@osarrouy I've made https://github.com/aragon/design/issues/15 for this, to add this functionality as a later design iteration.

[2018-10-05 10:56] osarrouy commented on #9
@jounih @sohkai Super cool. I guess that's not the more urging feature but that would definitely help at some point :)

[2018-10-05 11:02] sohkai commented on #14
Suggestion for copy:

[2018-10-05 12:47] jounih commented on #13
@sohkai Yep we could totally put it into the DAO switcher, will update the issue for that with a design

[2018-10-05 13:23] luisivan commented on #13
I think Settings should just be an app in the app bar, not the DAO switcher. Apart from that, I like the name Settings for DAO settings and Preferences for the Aragon Core settings

[2018-10-05 13:23] luisivan commented on #14
@sohkai just edited your comment replacing .one domains to .org

[2018-10-05 13:37] jounih commented on #13
We don't have traditional "settings" right now for the DAO - it's just mainly info about the DAO - app addresses and a way to request test tokens.

After discussing some ideas with @bpierre, I updated the DAO switcher issue with a tweaked proposal:

https://github.com/aragon/design/issues/9

[2018-10-05 13:54] luisivan commented on #13
Cool, sounds good in the case that it's just read-only info. I'm also thinking when we will actually have DAO-wide settings, such as the Home app content or the color accent. But that may be part of the Identity app.

[2018-10-05 17:29] jounih commented on #13
Yep let's revisit this once we have more DAO settings!

[2018-10-08 15:01] sohkai commented on #12
Mostly implemented, but we still need to add:

[2018-10-08 15:47] izqui commented on #12
In terms of wording I think it is very important that it doesn't seem that we are 'removing DAOs' but we are shutting down the interface that is used to interact with them.

[2018-10-11 09:10] luisivan opened #16 "Notifications and popovers"
Right now we are thinking of using [popovers](https://projects.invisionapp.com/share/DVO2DVY2WSJ#/screens/320033270) and [notifications](https://projects.invisionapp.com/share/DVO2DVY2WSJ#/screens/320033346) to inform the user about the status and progress of transactions.

The problem is that having two different sources of information for the same thing can be confusing.
I have a couple thoughts

[2018-10-11 09:32] izqui commented on #16
I support having pending actions in the notifications panel first, as it will bring the benefits to all Aragon apps without any changes.

I don't think highlighting the UI item that caused the transaction would be very hard, but I'm not sure it would be really useful, as users probably remember where they originated the transaction (if it is properly described). For most users it will probably be

[2018-10-11 09:40] sohkai commented on #16
I like the idea of popover "toasts" for non-intrusive in-app contextual information, even if they're not related to a transaction from the user. It would also be nice to have a visual way to explain to the user that the app's state has changed if they didn't initiate the action (e.g. a new vote from someone else, a deposit was mined).

It's important for the notifications panel to show all of the

[2018-10-11 10:01] luisivan opened #17 "Minimal app center with update functionality"
After mainnet, it is important that organizations can be updated. For that, we can build a minimal app center. This app center would:
- List installed apps
- Have a per-app view to read about the app and its updates
- List future apps being built (already done, see https://github.com/aragon/aragon/pull/350)

I was sketching something like this. Thoughts @jounih?
![updates](https://user-images.gith

[2018-10-11 10:40] bpierre commented on #16
I see it as two very different things.

First we have the notifications panel, as a unique “source of truth”. It is managed by the wrapper and should display all the transactions related to the current organization, from the apps or the wrapper itself. When a user signs a transaction from an app, the only visible change should be the badge number on the panel icon, and optionally the color of the

[2018-10-17 21:57] tayvano commented on #3
Truncation should be 0x + first four characters + ... + last four characters.

[2018-10-18 09:58] luisivan commented on #3
Totally agree @tayvano! That's what we are using now for the product, but seems like the mockups weren't updated. Thanks for chiming in!

[2018-10-18 11:26] jounih commented on #3
Ah yes this has already been updated in sketch file but had the old jpg here - updated :) Thanks for noticing!

[2018-10-18 11:57] jounih commented on #16
Design for toast component for quick notifications (for instance a confirmation message after an interaction with the UI, like saving preferences)

https://github.com/aragon/aragon-ui/issues/215#issuecomment-429263808

Design for activity panel for showing list of user's transactions in the currently viewed DAO, and the status of those transactions.

https://github.com/aragon/aragon/issues/117#iss

[2018-10-26 13:29] jounih commented on #13
Added access to preferences to other situations where user might need access to them, as requested by @bpierre - throughout the onboarding journey, and on error screens. It can always stay in the same position on these type of screens - top left of viewport.

![screen1 2x](https://user-images.githubusercontent.com/10109867/47569451-90be1e80-d92b-11e8-99ef-a2fec3e3107e.jpg)
![app error 2x](https://

[2018-11-07 17:02] sohkai commented on #13
@jounih @bpierre and I were discussing moving the settings to be in the bottom left corner in the onboarding and error states, so that its location is consistent throughout the app.

I was also thinking–maybe it'd be nice to show the address badge of the current account in all states too?

[2018-11-12 16:41] izqui commented on #17
I think having an upgrade button for upgrading to the last version is a good idea, but I would also show a list of all the published versions (or maybe just major versions that can have smart contract upgrades).

We should also communicate users that minor and patch upgrades are front-end only, and they are performed automatically.

[2018-11-14 16:20] luisivan opened #19 "Use new font"
We are now using HK Grotesk for the website and brand, and I think it'd be worth trying in Aragon as well. @jounih, do you mind trying with it and seeing if it fits in there too?

[2018-11-14 16:41] bpierre commented on #19
Demo: https://usemodify.com/fonts/hk-grotesk/

[2018-11-14 16:57] izqui opened #20 "Agent app"
Forum thread with spec and user stories: https://forum.aragon.org/t/actor-app-arbitrary-actions-from-daos.

The Transfer tab is missing but it could be the same panel from the Finance app without the reference field (actually the reference field could be added if we want to).

Some quick wireframes with the idea I have in mind:

This view shows the actions the app has performed to external contrac

[2018-11-14 17:32] jounih commented on #17
**Design**

https://www.figma.com/file/c9UcAQIEsNOgaBQKY7NFPOfw/Apps-Center?node-id=0%3A1

[2018-11-14 20:59] jounih commented on #19
![webapp-1366px - survey details hk grotesk 2x](https://user-images.githubusercontent.com/10109867/48511882-ea8d7680-e84f-11e8-8cb6-390cb123490e.jpg)

I think it's a nice typeface, not sure about the display rendering at small sizes.

@bpierre do you know if there is an easy way to replace the font on the live site locally, so I can see how it renders in the browser?

[2018-11-15 11:02] luisivan commented on #19
Looks good to me!

[2018-11-15 21:35] lkngtn commented on #20
I wonder if there is value in the distinction (and seperation in the UI) of Actions and Assets. It seems like you show asset transfers in the Actions list anyways.

[2018-11-16 17:47] lyricalpolymath commented on #6
yes agreed with @stellarmagnet on adding **human readable description** to the action
the current action "description" is more of a title
a good description would have:
- a **more verbose explanation of what the action does**, explaining the parameters in more details
- a **description on the consequences or ramifications of changing the properties of this action**

eg in this case it would be use

[2018-11-18 13:33] sohkai commented on #6
@lyricalpolymath I've created https://github.com/aragon/aragon/issues/486 to discuss, since the design in this particular issue has been implemented.

[2018-11-19 14:36] izqui commented on #20
There are actions that cause transfers so there is some duplication there, but actions sometimes don't perform a transfer, and transfers can have no action associated with them (basic deposit/withdrawal)

[2018-11-22 10:40] luisivan commented on #19
Closing this in favor of
https://github.com/aragon/aragon/issues/490

[2018-11-22 10:40] #19 closed, assigned to jounih

[2018-11-26 14:29] jounih commented on #17
Added signer view and app badges

[2018-11-26 14:43] jounih opened #21 "App Badge component"
<img width="834" src="https://user-images.githubusercontent.com/10109867/49020985-93f63580-f189-11e8-9930-55e1d739d30d.png">

Similarly to the Address Badge component - https://github.com/aragon/design/issues/3 - we have a need for a component for showing app entities (and app instances) in the UI.

Requirements:

- makes it clear in the UI that it is a (clickable) app entity, like the address ent

[2018-11-26 16:09] luisivan commented on #17
Beautiful!

[2018-12-10 14:53] jounih opened #22 "Onboarding tweaks"
After user-testing I've updated some steps of the onboarding to be easier to understand:

- intro screen with clear separation of start new org vs. open existing
- added "Connect account" for connecting an Ethereum provider
- explanation of what the templates like "Token project with democracy" are (with links to further in-depth tutorial)
- voting parameter setup screen with slider, good defaults

[2018-12-10 15:43] luisivan commented on #22
Quick thing: I think that the network chooser should be before choosing your Ethereum account, as you may have different addresses depending on the network (Frame does that, for example)

Apart from that, huge improvement :+1:

[2018-12-11 14:19] sohkai commented on #22
Awesome! Another thing we may want to include when we make these tweaks is to change to only using a single transaction.

[2018-12-11 22:05] jounih commented on #22
thanks for the comments! Will swap over the network chooser first, and if we can combine the 2 tx in the end, we can just lose the other tick on the final screen

[2018-12-17 12:16] leolower opened #23 "Payroll - Edit and Terminate employee designs"
As discussed with @jounih @sohkai and @bingen our team at Protofire has prepared a set of screen designs for a few additional features.

## Edit employee
### Dropdown on the employee list
![payroll - table dropdown](https://user-images.githubusercontent.com/170611/50086223-17300780-01db-11e9-8b8f-73119de4c2d4.png)

### Employee details
![payroll - edit employee](https://user-images.githubuserconte

[2018-12-17 14:30] stellarmagnet commented on #15
This needs some polish... but i think something like this makes the most sense...

The green dots next to each sub-menu means: there is an open action that you are eligible to participated in (like a Survey or Vote that you haven't cast yet)

![image](https://user-images.githubusercontent.com/2584493/50093983-59c10680-0212-11e9-97e2-149d04f4fb90.png)

[2018-12-17 18:49] leolower opened #24 "Payroll - App settings"
As discussed with @jounih @sohkai and @bingen our team at Protofire has prepared a set of screen designs for a few additional features.

## Payroll settings button on the top right
![payroll - settings - settings button](https://user-images.githubusercontent.com/170611/50108042-04392980-0213-11e9-82a9-b66274908762.png)

## Set price feed
![payroll - settings - price feed](https://user-images.githu

[2018-12-17 20:44] izqui commented on #15
I propose a similar idea as a way to implement nested membership: https://forum.aragon.org/t/identity-dao-membership/344

[2018-12-18 13:41] jounih commented on #15
Hi @stellarmagnet , nice ideas here!

Lots to unpack, so I've tried to break down some thoughts.

**Identity/Avatar at top**

- I think this is nice! We currently have this at the bottom of the panel, showing a "Connect account" button if you're not connected, and an Address Badge once you have connected your Ethereum provider. I think it could equally work at the top, with the user's avatar image

[2019-01-14 14:59] jounih opened #25 "Permissions - mobile/responsive UI"
Mobile responsive design for the current permissions app.

[Invision prototype](https://projects.invisionapp.com/d/main#/console/14552581/340025151/preview)

[2019-01-20 16:59] stellarmagnet opened #26 "Permissions - enhance terminology in relation to granting permission to token holders"
The Permissions UI is not very intuitive when you want to grant permissions to token holders to be able to perform a specified action.

I understand wanting to be consistent with showing the application names, but as a new user to Aragon I would not have noticed such an amazing feature with the way it is worded now.

Maybe "Token Holders (FTL)" makes more sense...

![image](https://user-images.git

[2019-01-21 07:50] luisivan commented on #26
What about simplifying it to just *Tokens (XYZ)*?

[2019-01-23 02:51] stellarmagnet commented on #26
I think "Token Holders" still makes the most sense. Here is another use case of where it will be displayed. I think "Tokens" being able to create new votes is not very intuitive

![image](https://user-images.githubusercontent.com/2584493/51579664-aa152f00-1e76-11e9-9fb3-12783ad8b8ca.png)

[2019-01-23 09:06] luisivan commented on #26
The thing is that *Token Holders* is not really the app, but what the app contains. *Token Manager* is correct but too verbose and technical, so that's why I think *Tokens* is a good balance

[2019-02-12 16:43] sohkai commented on #26
Wondering if we could provide more information about what the forwarding requirement is per app, as part of their published metadata.

That way, when selecting an app in that panel, or elsewhere, we could display this additional text so users would understand what requirements are imposed with an app owning a particular permission.

[2019-02-15 13:28] dizzypaty commented on #13
We need to explore the concept of a preferences module/section that is available throughout the app and consistent in its location so we increase memorability of the interface. This section should contain the access to global preferences modal, the network connection indicator and the current account address badge.

For now, the most reasonable area to place it is the bottom left, inside the app m

[2019-02-15 14:56] jounih opened #27 "Payroll - responsive design"
Tablet:

https://invis.io/P4QJH10D85R

Mobile:

https://invis.io/KTQJHBZX4MB

The panel content is the same as on desktop -  https://github.com/aragon/design/issues/2

[2019-02-15 15:29] jounih opened #28 "App centre - responsive design"
Mobile:

https://invis.io/AVQJHJ8RUN2

Tablet:

https://invis.io/NSQJIKFGT7E

[2019-02-15 15:39] jounih commented on #13
@dizzypaty Sounds good. Do you want to mock this up or want me to take a stab?

[2019-02-18 11:27] dizzypaty commented on #13
@jounih Please go ahead based on what we discussed!

[2019-02-26 18:04] jounih opened #29 "Preferences / Custom labels"
UI for Custom labels/local identity, as defined in https://github.com/aragon/aragon/issues/602

**Updates**

- More discoverable button to access Preferences
- Full screen modal style for Preferences
- Ability to edit Custom labels directly in Preferences
- Mobile design

**Figma file**
[https://www.figma.com/file/QFizPRIWRn6toUp2mPfg5vRE/Global-preferences-and-custom-labels?node-id=0%3A1](https:/

[2019-02-28 09:27] bpierre opened #30 "Apps assets"
This is an issue to list the required assets we need for the apps.

What we need is:

- To define the required formats / dimensions for the different items.
- Some specification / documentation, similar to what [Apple](https://developer.apple.com/design/human-interface-guidelines/ios/icons-and-images/app-icon/) or [Google](https://material.io/design/iconography/product-icons.html#icon-treatments)

[2019-03-01 14:53] jounih commented on #30
Cool, will take this on Monday

[2019-03-05 12:19] jounih commented on #30
Here's a 1st draft, I'll ask people to comment so we can wrap it up and get it built

**App Center asset guidelines**

https://www.figma.com/file/XOINhAadQHKCYghNlistQZGc/App-store-asset-guidelines?node-id=0%3A1

[2019-03-05 18:39] luisivan commented on #30
This is perfect and ready to go to implementation phase @jounih

[2019-03-05 18:42] luisivan commented on #30
Closing this in favor of https://github.com/aragon/hack/issues/100

[2019-03-05 18:42] #30 closed, assigned to nobody

[2019-03-05 20:31] #3 closed, assigned to bpierre

[2019-03-05 20:31] #4 closed, assigned to bpierre

[2019-03-05 20:31] #6 closed, assigned to bpierre, sohkai

[2019-03-05 20:31] #9 closed, assigned to jounih

[2019-03-05 20:31] #12 closed, assigned to bpierre

[2019-03-05 20:32] #14 closed, assigned to bpierre

[2019-03-06 07:32] jounih commented on #20
Forgot to link this here:

**Invision prototype and discussion**

https://forum.aragon.org/t/agent-app-ui-ideas/582/2

[2019-03-06 07:34] jounih commented on #13
Done.

**Design in figma**

https://www.figma.com/file/QFizPRIWRn6toUp2mPfg5vRE/Global-preferences-and-custom-labels?node-id=8%3A2

[2019-03-06 07:37] jounih commented on #11
Done

**Design in Figma**

https://www.figma.com/file/GRA6fHSOf4vKzaoNPK2hFicR/aragon-web-app?node-id=0%3A52750

and

https://www.figma.com/file/GRA6fHSOf4vKzaoNPK2hFicR/aragon-web-app?node-id=0%3A37860